.header{
    position: sticky;
    top: 0;
    display: flex;
    background: black;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 100%;
    z-index: 999;

    margin-bottom: 20px;
}


.header__left a > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header__right{
    display: flex;
   margin: auto 0;
}

.header__right a {
    text-decoration: none;
    margin: 0 15px;
    
}